<ion-content class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign in</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />

  <ion-item>
    <ion-label>email</ion-label>
    <ion-input class="ion-text-right"
      placeholder="email"
      required
      [(ngModel)]="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>password</ion-label>
    <ion-input class="ion-text-right"
      placeholder="password"
      type="password"
      required
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>

  <ion-button (click)="signin()" expand="full" [disabled]="!validForm">
    sign in
  </ion-button>
  <ion-button (click)="signup()" expand="full">
    sign up
  </ion-button>


</ion-content>
