<ion-content class="content" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome to trackr</ion-title>
    </ion-toolbar>
  </ion-header>

  <br />

  <ion-item>
    <ion-label>name</ion-label>
    <ion-input class="ion-text-right"
      placeholder="enter your name"
      required
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>
  <br />

  <ion-label class="page-subtitle">an email has been sent to </ion-label
  ><ion-label class="page-subtitle" style="font-weight: bold"
    >{{ userEmail }}</ion-label
  ><br />
  <ion-label class="page-subtitle"
    >to finish setting up your account, click the link in the email
    to confirm your email address</ion-label
  >

  <ion-button (click)="getUserData()" expand="full">
    continue
  </ion-button>
</ion-content>

<ion-footer class="continue ion-no-border">
</ion-footer>