<ion-content class="content" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome to trackr</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item class="name">
    <ion-input class="name-input"
      placeholder="enter your name"
      required
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>
  <br />

  <ion-label class="page-subtitle">An email has been sent to </ion-label
  ><ion-label class="page-subtitle" style="font-weight: bold"
    >{{ userEmail }}</ion-label
  ><br />
  <ion-label class="page-subtitle"
    >To finish setting up your account, simply click the link in the email
    to confirm your email address.</ion-label
  >
</ion-content>

<ion-footer class="continue ion-no-border">
  <ion-button class="button" (click)="getUserData()"
    >Continue</ion-button
  >
</ion-footer>