.button {
    
  display: block;
  margin: 10% 20px;
  width: auto;
}

.name {
    display: block;
    margin: 40% 20px 20px;
    width: auto;
}

.page-subtitle {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: auto;
}

.content {
  --padding-top: 10%;
}