<ion-content class="content" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create an account</ion-title>
    </ion-toolbar>
  </ion-header>

  <br />

  <ion-item>
    <ion-label>email</ion-label>
    <ion-input class="ion-text-right"
      placeholder="email"
      required
      [(ngModel)]="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>password</ion-label>
    <ion-input class="ion-text-right"
      placeholder="password"
      type="password"
      required
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>confirm password</ion-label>
    <ion-input class="ion-text-right"
      placeholder="confirm password"
      type="password"
      required
      [(ngModel)]="confirmPassword"
    ></ion-input>
  </ion-item>
  <ion-item *ngIf="!validForm" lines="none" class="ion-text-center">
    <ion-label color="danger" class="ion-text-wrap">
      Make sure your passwords match and are greater than 8 characters.
    </ion-label>
  </ion-item>

  <ion-button (click)="signup()" expand="full" [disabled]="!validForm">
    sign up
  </ion-button>
  <ion-button (click)="signin()" expand="full">
    sign in
  </ion-button>
</ion-content>
