<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <!-- if user is NOT signed in, display below container-->
  <app-welcome-container *ngIf="!currentUser" name="Tab 1 page"></app-welcome-container>
  <ion-grid *ngIf="currentUser">
    <ion-row>
      <ion-col>
        col 1
      </ion-col>
      <ion-col>
        col 2
      </ion-col>
      <ion-col>
        col 3
      </ion-col>
      <ion-col>
        col 4
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
