<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home page</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-welcome-container *ngIf="!currentUser" name="home"></app-welcome-container>
  <ion-grid id="grid" *ngIf="currentUser">
    <ion-row>
      <ion-col>
        <ion-button class="big-button" shape="round" (click)="presentModal()">1.1</ion-button>
      </ion-col>
      <ion-col>
        1.2
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        2.1
      </ion-col>
      <ion-col>
        2.2
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
