#grid {
  text-align: center;  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
  
.content {
  --padding-top: 10%;
}

ion-grid {
  --padding-top: 15%;
  height: 80%;

  // ion-row {
  //   height: 250px;
  // }
}

.ion-padding {
  padding: 50px;
}

.big-button {
  width: 50px;
  height: 50px;
}

ion-fab-button {
  width: 100px;
  height: 100px;
}

.fab-horizontal-center {
  margin-left: unset;
  margin-inline-start: -50px !important;
}
