<ion-content class="content" [fullscreen]="true">

  <app-welcome-container *ngIf="!currentUser" name="tab3"></app-welcome-container>
  <br />
  <br />

  <ion-item *ngIf="currentUser">
    <ion-label>change name</ion-label>
    <ion-input class="ion-text-right"
      placeholder="new name"
      required
      [(ngModel)]="newName"
    ></ion-input>
  </ion-item>

  <ion-button *ngIf="currentUser" (click)="save()" expand="full">
    save
  </ion-button>
  <br />
  <ion-button *ngIf="currentUser" (click)="presentSignOut()" class="button" expand="full">
    sign out
  </ion-button>
  <ion-button *ngIf="currentUser" (click)="presentDeleteAccount()" class="button" expand="full">
    delete account
  </ion-button>


  <ion-list *ngIf="currentUser">

  </ion-list>
</ion-content>
